#skills h5 {
    font-size: 2.5rem;
    color: rgb(245, 229, 14);
  }
  
  #skills h2 {
    font-size: 2rem;
    color: rgb(238, 195, 195);
  }
  
  .experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .experience_container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
  }
  
  .experience_container > div:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
  }
  
  .experience_container > div h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgb(241, 149, 116);
  }
  
  .experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  
  .experience_details {
    display: flex;
    gap: 1rem;
  }
  
  .experience_details-icon {
    font-size: 1.2rem;
    margin-top: 10px;
    color: var(--color-primary);
  }
  
  h4 {
    font-size: 25px;
  }
  
  .text-light {
    font-size: 17px;
  }
  
  /* ------- Media Queries (Medium Devices) ------- */
  @media screen and (max-width: 1024px) {
    .experience_container {
      grid-template-columns: 1fr;
    }
  
    .experience_container > div {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;
    }
  
    .experience_content {
      padding: 1rem;
    }
  }
  
  /* ------- Media Queries (Small Devices) ------- */
  @media screen and (max-width: 600px) {
    .experience_container {
      gap: 1rem;
    }
  
    .experience_container > div {
      width: 100%;
      padding: 1rem 1rem;
    }
  }