#contact h1 {
    color: rgb(252, 97, 8);
    text-align: center;
    font-size: 2.5rem;
  }
  
  #contact h2 {
    font-size: 2rem;
    color: cornflowerblue;
  }
  
  .container.contact_container {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 6%;
    padding-left: 200px;
  }
  
  .contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  
  .contact_option {
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
  }

  .contact_options h5 {
    font-size: 23px;
  }
  
  .contact_option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
  }
  
  .contact_option-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: aqua;
  }
  
  .contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1.3rem;
    color: lightgreen;
  }
  
  /* ----- FORM ----- */
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-white);
  }
  
  button {
    font-size: 1.2rem;
  }
  
  /* ------- Media Queries (Medium Devices) ------- */
  @media screen and (max-width: 1024px) {
    .container.contact_container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  /* ------- Media Queries (Small Devices) ------- */
  @media screen and (max-width: 600px) {
    .container.contact_container {
      width: var(--container-width-sm);
    }
  }